.loadingscreen {
  font-family: fantasy;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: white;
}

.grid-container {
  display: grid;
  height: 100vh;
  align-content: center;
  grid-template-columns: auto;
}
.grid-container .grid-item {
  text-align: center;
  font-size: 1em;
}
