.herofilter {
  font-family: fantasy;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  padding: 2em 0;
}

label {
  margin-right: 1em;
}

select {
  width: 80px;
}

input {
  margin-right: 1em;
}
