.herolist {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 1em;
  grid-auto-rows: 100px;

  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

/* @media only screen and (max-width: 1024px) {
  .herolist {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .herolist {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 425px) {
  .herolist {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 375px) {
  .herolist {
    grid-template-columns: repeat(2, 1fr);
  }
} */

.hero-box {
  display: grid;
  grid-template-rows: 3fr 1fr;
  min-width: 100px;
}

.hero-image {
  /* background: gray; */
  align-self: center;
  height: 50px;
}

.hero-caption {
  /* background: lime; */
  align-self: center;
}

.herolist > div {
  border: 1px gray solid;
}
