.herolist {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1em;
  grid-auto-rows: 150px;

  max-width: 1800px;
  margin: 0 auto;
  padding: 0 1em;
}

.hero-box {
  display: grid;
  grid-template-rows: 3fr 1fr;
  min-width: 150px;
}

.hero-box:hover {
  background-color: white;
  opacity: 0.3;
  cursor: pointer;
  display: block;
}

.hero-box:hover > .hero-caption {
  display: block;
}

.hero-box:hover > .hero-image img {
  /* transform: scale(1.1); */
}

.hero-image {
  height: 50px;
}

.hero-caption {
  color: white;
  display: none;
  align-self: center;
}

.herolist > div {
  /* border: 1px gray solid; */
}
